<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Weather App</title>
</head>
<body>
    <h1>Write down a city name</h1>
    <form action="/weather" method="post">
        <input type="text" name="city" placeholder="Enter city name">
        <button type="submit">Search</button>
    </form>
    <% if (locals.temp) { %>
        <h2><%= Math.round(temp - 273.15) %></h2>
    <% } else { %>
        <h2></h2>
    <% } %>
</body>
</html>