<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Weather App</title>
    <link rel="stylesheet" href="./public/styles.css">
</head>
<body>
    <div class="grid-container">
        <h1>Write down a city name</h1>
        <form action="/weather" method="post">
            <input type="text" name="city" placeholder="Enter city name">
            <button type="submit">Search</button>
        </form>
        <% if (locals.temp) { %>
            <h2>It is <%= Math.round(temp - 273.15) %>°C in <%= cityName[0].toUpperCase() + cityName.slice(1, cityName.length).toLowerCase() %></h2>
        <% } else { %>
            <h2></h2>
        <% } %>
    </div>
</body>
</html>